<ion-header color="midnightblue">
  <br/><br/>
  <ion-toolbar color="midnightblue" >
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title>PROGRESS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="midnightblue">
<ion-list-header class="app-font-22" color="tertiary"><ion-label>Back Exercises</ion-label></ion-list-header>

<ion-item color="midnightblue" routerLink="/bentoverrow/bentoverrowhist">Bentover Row</ion-item>
<ion-item color="midnightblue" routerLink="/ftfdeadlift/ftfdeadlifthist">5 x 5 Deadlift</ion-item>
<ion-item color="midnightblue" routerLink="/deadlift/deadlifthist">Deadlift</ion-item>
<ion-item color="midnightblue" routerLink="/hyperext/hyperexthist">Hyperextention</ion-item>
<ion-item color="midnightblue" routerLink="/onearmrow/onearmrowhist">One Arm Row</ion-item>
<ion-item color="midnightblue" routerLink="/seatedrow/seatedrowhist">Seated Row</ion-item>
<ion-item color="midnightblue" routerLink="/uhpulldown/uhpulldownhist">Underhand Pulldown</ion-item>
<ion-item color="midnightblue" routerLink="/uhpullup/uhpulluphist">Underhand Pullup</ion-item>
<ion-item color="midnightblue" routerLink="/vbarpulldown/vbarpulldownhist">V-bar Pulldown</ion-item>
<ion-item color="midnightblue" routerLink="/widepulldown/widepulldownhist">Wide Grip Pulldown</ion-item>


<ion-list-header class="app-font-22" color="tertiary"><ion-label>Biceps Exercises</ion-label></ion-list-header>

<ion-item color="midnightblue" routerLink="/altcurl/altcurlhist">Alternate Curl</ion-item>
<ion-item color="midnightblue" routerLink="/althammercurl/althammercurlhist">Alternate Hammer Curl</ion-item>
<ion-item color="midnightblue" routerLink="/bbcurl/bbcurlhist">Barbell Curl</ion-item>
<ion-item color="midnightblue" routerLink="/closebbcurl/closebbcurlhist">Close Grip Barbell Curl</ion-item>
<ion-item color="midnightblue" routerLink="/inclinecurl/inclinecurlhist">Incline Cirl</ion-item>
<ion-item color="midnightblue" routerLink="/preachercurl/preachercurlhist">Preacher Bench Curl</ion-item>


<ion-list-header class="app-font-22" color="tertiary">Calf Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/calfraise/calfraisehist">Calf Raise</ion-item>
<ion-item color="midnightblue" routerLink="/legpresscalf/legpresscalfhist">Leg Press Calf Raise</ion-item>
<ion-item color="midnightblue" routerLink="/seatedbbcalf/seatedbbcalfhist">Seated Barbell Calf Raise</ion-item>
<ion-item color="midnightblue" routerLink="/seatedcalfraise/seatedcalfraisehist">Seated Calf Raise</ion-item>

<ion-list-header class="app-font-22" color="tertiary">Chest Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/benchpress/benchpresshist">Bench Press</ion-item>
<ion-item color="midnightblue" routerLink="/ftfbench/ftfbenchhist">5 x 5 Bench Press</ion-item>
<ion-item color="midnightblue" routerLink="/chestdip/chestdiphist">Chest Dips</ion-item>
<ion-item color="midnightblue" routerLink="/dbbench/dbbenchhist">Dumbbell Bench Press</ion-item>
<ion-item color="midnightblue" routerLink="/declinepress/declinepresshist">Decline Bench Press</ion-item>
<ion-item color="midnightblue" routerLink="/fly/flyhist">Fly</ion-item>
<ion-item color="midnightblue" routerLink="/inclinebench/inclinebenchhist">Incline Bench Press</ion-item>
<ion-item color="midnightblue" routerLink="/inclinedbpress/inclinedbpresshist">Incline Dumbbell Press</ion-item>
<ion-item color="midnightblue" routerLink="/inclinefly/inclineflyhist">Incline Fly</ion-item>
<ion-item color="midnightblue" routerLink="/pecdeck/pecdeckhist">Pec Deck</ion-item>
<ion-item color="midnightblue" routerLink="/pushuphw/pushuphwhist">Hand Wide Pushup</ion-item>
<ion-item color="midnightblue" routerLink="/widegripbp/widegripbphist">Wide Grip Bench Press</ion-item>


<ion-list-header class="app-font-22" color="tertiary">Core Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/bicycle/bicyclehist">Bicycle Crunch</ion-item>
<ion-item color="midnightblue" routerLink="/crunch/crunchhist">Crunch</ion-item>
<ion-item color="midnightblue" routerLink="/hiproll/hiprollhist">Hip Roll</ion-item>
<ion-item color="midnightblue" routerLink="/bentarmpullover/bentarmpulloverhist">Bent Arm Pullover</ion-item>


<ion-list-header class="app-font-22" color="tertiary">Forearms Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/ohwristcurl/ohwristcurlhist">Overhand Wrist Curl</ion-item>
<ion-item color="midnightblue" routerLink="/reversedbcurl/reversedbcurlhist">Reverse Dumbbell Curl</ion-item>
<ion-item color="midnightblue" routerLink="/uhwristcurl/uhwristcurlhist">Underhand Wrist Curl</ion-item>


<ion-list-header class="app-font-22" color="tertiary">Shoulder Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/altfrontraise/altfrontraisehist">Alternate Front Raise</ion-item>
<ion-item color="midnightblue" routerLink="/bolatraise/bolatraisehist">Bentover Laterial Raise</ion-item>
<ion-item color="midnightblue" routerLink="/dbuprightrow/dbuprightrowhist">Dumbbell Upright Row</ion-item>
<ion-item color="midnightblue" routerLink="/latraise/latraisehist">Lateral Raise</ion-item>
<ion-item color="midnightblue" routerLink="/ohpress/ohpresshist">Barbell Overhead Press</ion-item>
<ion-item color="midnightblue" routerLink="/seateddbpress/seateddbpresshist">Seated Dumbbell Press</ion-item>

<ion-list-header class="app-font-22" color="tertiary">Thigh Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/dblunge/dblungehist">Dumbbell Lunge</ion-item>
<ion-item color="midnightblue" routerLink="/dbsquat/dbsquathist">Dumbbell Squat</ion-item>
<ion-item color="midnightblue" routerLink="/hacklift/hacklifthist">Hack Lift</ion-item>
<ion-item color="midnightblue" routerLink="/legcurl/legcurlhist">Leg Curl</ion-item>
<ion-item color="midnightblue" routerLink="/legext/legexthist">Leg Extension</ion-item>
<ion-item color="midnightblue" routerLink="/legpress/legpresshist">Leg Press</ion-item>
<ion-item color="midnightblue" routerLink="/seatedlegcurl/seatedlegcurlhist">Seated Leg Curl</ion-item>
<ion-item color="midnightblue" routerLink="/machinesquat/machinesquathist">Smith Machine Squat</ion-item>
<ion-item color="midnightblue" routerLink="/squat/squathist">Squat</ion-item>
<ion-item color="midnightblue" routerLink="/ftfsquat/ftfsquathist">5 x 5 Squat</ion-item>
<ion-item color="midnightblue" routerLink="/stiffleglift/stiffleglifthist">Stiff Leg Deadlift</ion-item>

<ion-list-header class="app-font-22" color="tertiary">Triceps Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/benchdips/benchdipshist">Bench Dips</ion-item>
<ion-item color="midnightblue" routerLink="/closegripbp/closegripbphist">Close Grip Bench Press</ion-item>
<ion-item color="midnightblue" routerLink="/dbtricepsext/dbtricepsexthist">Dumbbell Triceps Extension</ion-item>
<ion-item color="midnightblue" routerLink="/dips/dipshist">Triceps Dips</ion-item>
<ion-item color="midnightblue" routerLink="/kctricepsext/kctricepsexthist">Kneeling Cable Extension</ion-item>
<ion-item color="midnightblue" routerLink="/onearmohext/onearmohexthist">One Arm Overhead Extension</ion-item>
<ion-item color="midnightblue" routerLink="/overheadext/overheadexthist">Overhead Extension</ion-item>
<ion-item color="midnightblue" routerLink="/ropepushdown/ropepushdownhist">Rope Pushdown</ion-item>
<ion-item color="midnightblue" routerLink="/tricepspushdown/tricepspushdownhist">Triceps Pushdown</ion-item>


<ion-list-header class="app-font-22" color="tertiary">Pyramid Exercises</ion-list-header>

<ion-item color="midnightblue" routerLink="/pbbcurl/pbbcurlhist">Barbell Curl Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pbbrow/pbbrowhist">Barbell Row Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pbbuprightrow/pbbuprightrowhist">Dumbbell Upright Row Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pbench/pbenchhist">Bench Press Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pbolatraise/pbolatraisehist">Bentover Lateral Raise Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pcalfraise/pcalfraisehist">Calf Raise Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pclosebbcurl/pclosebbcurlhist">Close Grip Barbell Curl Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pclosebench/pclosebenchhist">Close Grip Bench Press Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pdeadlift/pdeadlifthist">Deadlift Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pfly/pflyhist">Fly Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/phacklift/phacklifthist">Hack Lift Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pinclinecurl/pinclinecurlhist">Incline Curl Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/platraise/platraisehist">Lateral Raise Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/plegext/plegexthist">Leg Extention Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/plegpress/plegpresshist">Leg Press Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pneckpress/pneckpresshist">Neck Press Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pohext/pohexthist">Overhead Extention Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/ppreachercurl/ppreachercurlhist">Preacher Curl Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/ppulldown/ppulldownhist">Pulldown Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/ppushdown/hist">Pushdown Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/propepushdown/propepushdownhist">Rope Pushdown Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/pseatedrow/pseatedrowhist">Seated Row Pyramid</ion-item>
<ion-item color="midnightblue" routerLink="/psquat/psquathist">Squat Pyramid</ion-item>




</ion-content>
