// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
     /** crimson **/
     --ion-color-crimson: #ec1c24;
     --ion-color-crimson-rgb: 236, 38, 36;
     --ion-color-crimson-contrast: #ffffff;
     --ion-color-crimson-contrast-rgb: 255, 255, 255;
     --ion-color-crimson-shade: #d01920;
     --ion-color-crimson-tint: #ec333a;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** midnightblue **/
    --ion-color-midnightblue: #001b48;
    --ion-color-midnightblue-rgb: 0, 27, 72;
    --ion-color-midnightblue-contrast: #ffffff;
    --ion-color-midnightblue-contrast-rgb: 0, 0, 0;
    --ion-color-midnightblue-shade: ##00183f;
    --ion-color-midnightblue-tint: ##1a325a;
     /** catalinablue **/
     --ion-color-catalinablue: #19315a;
     --ion-color-catalinablue-rgb: 25, 49, 90;
     --ion-color-catalinablue-contrast: #ffffff;
     --ion-color-catalinablue-contrast-rgb: 0, 0, 0;
     --ion-color-catalinablue-shade: ##162b4f;
     --ion-color-catalinablue-tint: ##30466b;
      /** verydarkblue **/
      --ion-color-verydarkblue: #32486c;
      --ion-color-verydarkblue-rgb: 50, 72, 108;
      --ion-color-verydarkblue-contrast: #ffffff;
      --ion-color-verydarkblue-contrast-rgb: 0, 0, 0;
      --ion-color-verydarkblue-shade: #2c3f5f;
      --ion-color-verydarkblue-tint: #475a7b;
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    /** paper **/
    --ion-color-paper: #FFF9c4;
    --ion-color-paper-rgb: 244, 244, 244;
    --ion-color-paper-contrast: #000000;
    --ion-color-paper-contrast-rgb: 0, 0, 0;
    --ion-color-paper-shade: #e0dbac;
    --ion-color-paper-tint: #fffaca;
    /** darkpaper **/
    --ion-color-darkpaper: #ccbf5a;
    --ion-color-darkpaper-rgb: 240, 227, 121;
    --ion-color-darkpaper-contrast: #000000;
    --ion-color-darkpaper-contrast-rgb: 0, 0, 0;
    --ion-color-darkpaper-shade: #d3c86a;
    --ion-color-darkpaper-tint: #f2e686;
    /** dullblue **/
    --ion-color-dullblue: #b8d7d6;
    --ion-color-dullblue-rgb: 184, 215, 214;
    --ion-color-dullblue-contrast: #000000;
    --ion-color-dullblue-contrast-rgb: 0, 0, 0;
    --ion-color-dullblue-shade: #a2bdbc;
    --ion-color-dullblue-tint: #bfdbda;
    /** darkerblue **/
    --ion-color-darkerblue: #7fa6c5;
    --ion-color-darkerblue-rgb: 127, 166, 197;
    --ion-color-darkerblue-contrast: #000000;
    --ion-color-darkerblue-contrast-rgb: 0, 0, 0;
    --ion-color-darkerblue-shade: #7092ad;
    --ion-color-darkerblue-tint: #8cafcb;
    /** liteblue **/
    --ion-color-liteblue: #b3cbff;
    --ion-color-liteblue-rgb: 179, 203, 255;
    --ion-color-liteblue-contrast: #000000;
    --ion-color-liteblue-contrast-rgb: 0, 0, 0;
    --ion-color-liteblue-shade: #9eb3e0;
    --ion-color-liteblue-tint: #bbd0ff;
    /** paleblue **/
    --ion-color-paleblue: #eef3ff;
    --ion-color-paleblue-rgb: 283, 243, 255;
    --ion-color-paleblue-contrast: #000000;
    --ion-color-paleblue-contrast-rgb: 0, 0, 0;
    --ion-color-paleblue-shade: #afbee0;
    --ion-color-paleblue-tint: #cddcff;
    /** lavender **/
    --ion-color-lavender: #3d2296;
    --ion-color-lavender-rgb: 174, 149, 255;
    --ion-color-lavender-contrast: #000000;
    --ion-color-lavender-contrast-rgb: 0, 0, 0;
    --ion-color-lavender-shade: #9983e0;
    --ion-color-lavender-tint: #b6a0ff;
    /** litepurp **/
    --ion-color-litepurp: #c095ff;
    --ion-color-litepurp-rgb: 192, 149, 255;
    --ion-color-litepurp-contrast: #ffffff;
    --ion-color-litepurp-contrast-rgb: 255, 255, 255;
    --ion-color-litepurp-shade: #a983e0;
    --ion-color-litepurp-tint: #c6a0ff;
    /** thistle **/
    --ion-color-thistle: #dda5dd;
    --ion-color-thistle-rgb: 255, 225, 255;
    --ion-color-thistle-contrast: #000000;
    --ion-color-thistle-contrast-rgb: 0, 0, 0;
    --ion-color-thistle-shade: #e0c6e0;
    --ion-color-thistle-tint: #ffe4ff;
    /** pastelgreen **/
    --ion-color-pastelgreen: #77DD77;
    --ion-color-pastelgreen-rgb: 211, 177, 125;
    --ion-color-pastelgreen-contrast: #000000;
    --ion-color-pastelgreen-contrast-rgb: 0, 0, 0;
    --ion-color-pastelgreen-shade: #69c269;
    --ion-color-pastelgreen-tint: #85e085;
    /** chestnut **/
    --ion-color-chestnut: #d3b17d;
    --ion-color-chestnut-rgb: 119, 221, 119;
    --ion-color-chestnut-contrast: #000000;
    --ion-color-chestnut-contrast-rgb: 0, 0, 0;
    --ion-color-chestnut-shade: #ba9c6e;
    --ion-color-chestnut-tint: #d7b98a;
}

@media (prefers-color-scheme: Lite) {
    /*
   * Dark Colors
   * -------------------------------------------
   */
    body {
        --ion-color-primary: #428cff;
        --ion-color-primary-rgb: 66, 140, 255;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255, 255, 255;
        --ion-color-primary-shade: #3a7be0;
        --ion-color-primary-tint: #5598ff;
        --ion-color-secondary: #50c8ff;
        --ion-color-secondary-rgb: 80, 200, 255;
        --ion-color-secondary-contrast: #ffffff;
        --ion-color-secondary-contrast-rgb: 255, 255, 255;
        --ion-color-secondary-shade: #46b0e0;
        --ion-color-secondary-tint: #62ceff;
        --ion-color-tertiary: #6a64ff;
        --ion-color-tertiary-rgb: 106, 100, 255;
        --ion-color-tertiary-contrast: #ffffff;
        --ion-color-tertiary-contrast-rgb: 255, 255, 255;
        --ion-color-tertiary-shade: #5d58e0;
        --ion-color-tertiary-tint: #7974ff;
        --ion-color-success: #2fdf75;
        --ion-color-success-rgb: 47, 223, 117;
        --ion-color-success-contrast: #000000;
        --ion-color-success-contrast-rgb: 0, 0, 0;
        --ion-color-success-shade: #29c467;
        --ion-color-success-tint: #44e283;
        --ion-color-warning: #ffd534;
        --ion-color-warning-rgb: 255, 213, 52;
        --ion-color-warning-contrast: #000000;
        --ion-color-warning-contrast-rgb: 0, 0, 0;
        --ion-color-warning-shade: #e0bb2e;
        --ion-color-warning-tint: #ffd948;
        --ion-color-danger: #ff4961;
        --ion-color-danger-rgb: 255, 73, 97;
        --ion-color-danger-contrast: #ffffff;
        --ion-color-danger-contrast-rgb: 255, 255, 255;
        --ion-color-danger-shade: #e04055;
        --ion-color-danger-tint: #ff5b71;
        --ion-color-dark: #f4f5f8;
        --ion-color-dark-rgb: 244, 245, 248;
        --ion-color-dark-contrast: #000000;
        --ion-color-dark-contrast-rgb: 0, 0, 0;
        --ion-color-dark-shade: #d7d8da;
        --ion-color-dark-tint: #f5f6f9;
        --ion-color-medium: #989aa2;
        --ion-color-medium-rgb: 152, 154, 162;
        --ion-color-medium-contrast: #000000;
        --ion-color-medium-contrast-rgb: 0, 0, 0;
        --ion-color-medium-shade: #86888f;
        --ion-color-medium-tint: #a2a4ab;
        --ion-color-light: #222428;
        --ion-color-light-rgb: 34, 36, 40;
        --ion-color-light-contrast: #ffffff;
        --ion-color-light-contrast-rgb: 255, 255, 255;
        --ion-color-light-shade: #1e2023;
        --ion-color-light-tint: #383a3e;
    }
    /*
   * iOS Dark Theme
   * -------------------------------------------
   */
    .ios body {
        --ion-background-color: #000000;
        --ion-background-color-rgb: 0, 0, 0;
        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-color-step-50: #0d0d0d;
        --ion-color-step-100: #1a1a1a;
        --ion-color-step-150: #262626;
        --ion-color-step-200: #333333;
        --ion-color-step-250: #404040;
        --ion-color-step-300: #4d4d4d;
        --ion-color-step-350: #595959;
        --ion-color-step-400: #666666;
        --ion-color-step-450: #737373;
        --ion-color-step-500: #808080;
        --ion-color-step-550: #8c8c8c;
        --ion-color-step-600: #999999;
        --ion-color-step-650: #a6a6a6;
        --ion-color-step-700: #b3b3b3;
        --ion-color-step-750: #bfbfbf;
        --ion-color-step-800: #cccccc;
        --ion-color-step-850: #d9d9d9;
        --ion-color-step-900: #e6e6e6;
        --ion-color-step-950: #f2f2f2;
        --ion-toolbar-background: #0d0d0d;
        --ion-item-background: #000000;
    }
    /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
    .md body {
        --ion-background-color: #121212;
        --ion-background-color-rgb: 18, 18, 18;
        --ion-text-color: #ffffff;
        --ion-text-color-rgb: 255, 255, 255;
        --ion-border-color: #222222;
        --ion-color-step-50: #1e1e1e;
        --ion-color-step-100: #2a2a2a;
        --ion-color-step-150: #363636;
        --ion-color-step-200: #414141;
        --ion-color-step-250: #4d4d4d;
        --ion-color-step-300: #595959;
        --ion-color-step-350: #656565;
        --ion-color-step-400: #717171;
        --ion-color-step-450: #7d7d7d;
        --ion-color-step-500: #898989;
        --ion-color-step-550: #949494;
        --ion-color-step-600: #a0a0a0;
        --ion-color-step-650: #acacac;
        --ion-color-step-700: #b8b8b8;
        --ion-color-step-750: #c4c4c4;
        --ion-color-step-800: #d0d0d0;
        --ion-color-step-850: #dbdbdb;
        --ion-color-step-900: #e7e7e7;
        --ion-color-step-950: #f3f3f3;
        --ion-item-background: #1e1e1e;
        --ion-toolbar-background: #1f1f1f;
        --ion-tab-bar-background: #1f1f1f;
    }
}

.app-font-5_0 ion-label {
    white-space: inherent;
    font-size: 5.0rem
}

.app-font-3_0 ion-label {
    white-space: inherent;
    font-size: 3.0rem
}

.app-font-2_5 ion-label {
    white-space: inherent;
    font-size: 2.5rem
}

.app-font-2_0 ion-label {
    white-space: inherent;
    font-size: 2.0rem
}

.app-font-32 {
    font-size: 32px !important;
}

.app-font-30 {
    font-size: 30px !important;
}

.app-font-28 {
    font-size: 28px !important;
}

.app-font-24 {
    font-size: 24px !important;
}

.app-font-22 {
    font-size: 22px !important;
}

.app-font-20 {
    font-size: 20px !important;
}

.app-font-19 {
    font-size: 19px !important;
}

.app-font-18 {
    font-size: 18px !important;
}

.app-font-16 {
    font-size: 16px !important;
}

.app-font-15 {
    font-size: 15px !important;
}

.app-font-14 {
    font-size: 14px !important;
}

.app-font-13 {
    font-size: 13px !important;
}

.app-font-12 {
    font-size: 12px !important;
}

.app-font-11 {
    font-size: 11px !important;
}

.app-font-10 {
    font-size: 10px !important;
}

.app-font-8 {
    font-size: 8px !important;
}