
    <strong>OVERVIEW:</strong><br /><br />
    - There are 4 sets, all in the muscle growth 6 - 12 repetition range.<br /><br />
    - Weight is increased and reps are decreased each set.<br /><br />
    - Except for set 4 try to do the goal number of reps in perfect form, but stop when you complete the goal
    reps.<br /><br />
    Set 4, do as many reps as you can in perfect form. If you can do more or less than 6 reps in perfect form, do it. The goal weights will be adjusted by HELPER when you do.<br /><br />


    EXERCISE WEIGHTS
    <br /><br />-- Press the "Ascertain Starting Weights" butten & do as instructed to determine your starting
    weights.
    <br /><br />-- Helper adjusts your weight goals for the next workout when you <strong>complete more or less
        than 6 reps in very good form at set 4.</strong><br /><br />