<ion-header><br/><br/>
  <ion-toolbar class=" ion-padding-top ion-text-center" color="midnightblue">
    <br/><br/>
          <ion-buttons slot="start">
              <ion-back-button text="" size="small"></ion-back-button>
          </ion-buttons>
          <strong>Available Thigh Exercises</strong>
      </ion-toolbar>


  </ion-header>


  <ion-content class="ion-no-padding" color="midnightblue">
  <ion-grid>
  <ion-row>
  <ion-col size="12" size-lg="8" Size-md="8" Size-sm="8" offset-lg="2" offset-md="2" offset-sm="2">


            <ion-list-header color="medium">
              <ion-label class="app-font-14 ion-padding-left"><strong>Entire Thigh</strong></ion-label>
          </ion-list-header>
          <ion-row>
            <ion-col size="8">

            <ion-item routerLink="/hacklift" color="paper" expand="block" class="app-font-14 ion-text-capitalize" (click)="presentLoading()">
                <strong> Hack Squat</strong>
            </ion-item>
        </ion-col>
        <ion-col size="4">

                <ion-item  color="tertiary" routerLink="/hacklift/hacklifthist">Progress</ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="8">

            <ion-item  color="paper" class="app-font-16" routerLink="/phacklift" (click)="presentLoading()">
                <strong>Hack Squat Pyramid</strong>
            </ion-item>
        </ion-col>
        <ion-col size="4">

                <ion-item  color="tertiary" routerLink="/phacklift/phacklifthist">Progress</ion-item>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="8">

          <ion-item  color="paper" class="app-font-14" routerLink="/squat" (click)="presentLoading()">
              <strong>Squat</strong></ion-item>
            </ion-col>
            <ion-col size="4">

              <ion-item  color="tertiary" routerLink="/squat/squathist">Progress</ion-item>
            </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size="8">

          <ion-item  color="paper" class="app-font-16" routerLink="/psquat" (click)="presentLoading()">
              <strong>Squat Pyramid</strong>
          </ion-item>
        </ion-col>
        <ion-col size="4">

              <ion-item  color="tertiary" routerLink="/psquat/psquathist">Progress</ion-item>
            </ion-col>
        </ion-row>

      <ion-row>
        <ion-col size="8">

          <ion-item  color="paper" class="app-font-14" routerLink="/ftfsquat" (click)="presentLoading()">
              <strong>5 x 5 Squat</strong></ion-item>
            </ion-col>
            <ion-col size="4">

              <ion-item  color="tertiary" routerLink="/ftfsquat/ftfsquathist">Progress</ion-item>
            </ion-col>
        </ion-row>

              <ion-list-header color="medium">
                  <ion-label class="app-font-14 ion-padding-left"><strong>Quadriceps</strong></ion-label>
              </ion-list-header>
              <ion-row>
                <ion-col size="8">

                <ion-item  color="paper" class="app-font-14" routerLink="/legext" (click)="presentLoading()">
                    <strong>Leg Extensions</strong></ion-item>
                </ion-col>
                <ion-col size="4">

                    <ion-item  color="tertiary" routerLink="/legext/legexthist">Progress</ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="8">

                <ion-item  color="paper" class="app-font-16" routerLink="/plegext" (click)="presentLoading()">
                    <strong>Leg Extension Pyramid</strong>
                </ion-item>
            </ion-col>
            <ion-col size="4">

                    <ion-item  color="tertiary" routerLink="/plegext/plegexthist">Progress</ion-item>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col size="8">

                  <ion-item  color="darkpaper" class="app-font-14" routerLink="/dbsquat" (click)="presentLoading()">
                      <strong>Dumbbell squat</strong></ion-item>
                    </ion-col>
                    <ion-col size="4">

                      <ion-item  color="tertiary" routerLink="/dbsquat/dbsquathist">Progress</ion-item>
                    </ion-col>
                </ion-row>



              <ion-row>
                <ion-col size="8">

                  <ion-item  color="darkpaper" class="app-font-14" routerLink="/machinesquat" (click)="presentLoading()">
                      <strong>Smith Machine Squat</strong>
                  </ion-item>
                </ion-col>
                <ion-col size="4">

                      <ion-item  color="tertiary" routerLink="/machinesquat/machinesquathist">Progress</ion-item>
                    </ion-col>
                </ion-row>




              <ion-list-header color="medium">
                  <ion-label class="app-font-14 ion-padding-left"><strong>Quadriceps & Adductors </strong></ion-label>
              </ion-list-header>

              <ion-row>
                <ion-col size="8">

                  <ion-item  color="darkpaper" class="app-font-14" routerLink="/legpress" (click)="presentLoading()">
                      <strong>Leg Press</strong>
                  </ion-item>
                </ion-col>
                <ion-col size="4">

                      <ion-item  color="tertiary" routerLink="/legpress/legpresshist">Progress</ion-item>
                    </ion-col>
                </ion-row>

              <ion-row>
                <ion-col size="8">

                  <ion-item  color="darkpaper" class="app-font-16" routerLink="/plegpress" (click)="presentLoading()">
                      <strong>Leg Press Pyramid</strong>
                  </ion-item>
                </ion-col>
                <ion-col size="4">

                      <ion-item  color="tertiary" routerLink="/plegpress/plegpresshist">Progress</ion-item>
                    </ion-col>
                </ion-row>

              <ion-row>
                <ion-col size="8">

                <ion-item  color="darkpaper" class="app-font-18" routerLink="/dblunge" (click)="presentLoading()">
                    <strong>Dumbbell Lunge</strong>
                </ion-item>
            </ion-col>
            <ion-col size="4">

                    <ion-item  color="tertiary" routerLink="/dblunge/dblungehist">Progress</ion-item>
                </ion-col>
            </ion-row>

              <ion-list-header color="medium">
                <ion-label class="app-font-14 ion-padding-left"><strong>Hamstrings </strong></ion-label>
            </ion-list-header>
            <ion-row>
                <ion-col size="8">

              <ion-item  color="paper" class="app-font-18" routerLink="/stiffleglift" (click)="presentLoading()">
                  <strong>Stiff-legs Deadlift</strong></ion-item>
                </ion-col>
                <ion-col size="4">

                  <ion-item  color="tertiary" routerLink="/stiffleglift/stiffleglifthist">Progress</ion-item>
                </ion-col>
            </ion-row>


          <ion-row>
            <ion-col size="8">

              <ion-item  color="paper" class="app-font-18" routerLink="/seatedlegcurl" (click)="presentLoading()">
                  <strong>Seated Leg Curl</strong></ion-item>
                </ion-col>
                <ion-col size="4">

                  <ion-item  color="tertiary" routerLink="/seatedlegcurl/seatedlegcurlhist">Progress</ion-item>
                </ion-col>
            </ion-row>

          <ion-row>
            <ion-col size="8">

              <ion-item  color="darkpaper" class="app-font-18" routerLink="/legcurl" (click)="presentLoading()">
                  <strong>Lying Leg Curl</strong>
              </ion-item>
            </ion-col>
            <ion-col size="4">

                  <ion-item  color="tertiary" routerLink="/legcurl/legcurlhist">Progress</ion-item>
                </ion-col>
            </ion-row>


      </ion-col>
  </ion-row>
  </ion-grid>

  </ion-content>