<ion-header><br/><br/>
  <meta name="Description" content="biceps exercises" />
  <ion-toolbar class="ion-padding-top ion-text-center"  color="midnightblue">

    <ion-buttons slot="start">
      <ion-back-button text="" size="small"></ion-back-button>
    </ion-buttons>
    <strong>Available Biceps Exercises</strong>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding"  color="midnightblue">
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-lg="8"
        Size-md="8"
        Size-sm="8"
        offset-lg="2"
        offset-md="2"
        offset-sm="2"
      >

            <ion-list-header  color="medium">
              <ion-label class="app-font-16 ion-padding-left"
                ><strong>Entire Biceps</strong></ion-label
              >
            </ion-list-header>
            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="paper"
                  class="app-font-16"
                  routerLink="/closebbcurl"
                  (click)="presentLoading()"
                >
                  <strong>Close Grip Barbell Curl</strong>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/closebbcurl/closebbcurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="paper"
                  class="app-font-16"
                  routerLink="/pclosebbcurl"
                  (click)="presentLoading()"
                >
                  <strong>Close Grip Barbell Curl Pyramid</strong></ion-item
                >
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/pclosebbcurl/pclosebbcurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="darkpaper"
                  class="app-font-16"
                  routerLink="/bbcurl"
                  (click)="presentLoading()"
                >
                  <strong>Barbell Curl</strong></ion-item
                >
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/bbcurl/bbcurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="darkpaper"
                  class="app-font-16"
                  routerLink="/pbbcurl"
                  (click)="presentLoading()"
                >
                  <strong>Barbell Curl Pyramid</strong></ion-item
                >
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/pbbcurl/pbbcurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-list-header  color="medium">
              <ion-label class="app-font-16 ion-padding-left"
                ><strong>Outer & Inner (long & short) Heads</strong></ion-label
              >
            </ion-list-header>
            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="paper"
                  class="app-font-16"
                  routerLink="/altcurl"
                  (click)="presentLoading()"
                >
                  <strong>Alternate Curl</strong></ion-item
                >
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/altcurl/altcurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="darkpaper"
                  class="app-font-16"
                  routerLink="/inclinecurl"
                  (click)="presentLoading()"
                >
                  <strong>Incline Curl</strong>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/inclinecurl/inclinecurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="darkpaper"
                  class="app-font-16"
                  routerLink="/pinclinecurl"
                  (click)="presentLoading()"
                >
                  <strong>Incline Curl Pyramid</strong>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/pinclinecurl/pinclinecurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-list-header  color="medium">
              <ion-label class="app-font-16 ion-padding-left"
                ><strong>Outer (long) Head</strong></ion-label
              >
            </ion-list-header>
            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="paper"
                  class="app-font-16"
                  routerLink="/althammercurl"
                  (click)="presentLoading()"
                >
                  <strong>Alternate Hammer Curl</strong>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/althammercurl/althammercurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-list-header  color="medium">
              <ion-label class="app-font-16 ion-padding-left"
                ><strong>Brachialus & Outer (long) Heads</strong></ion-label
              >
            </ion-list-header>
            <ion-row>
              <ion-col size="8">
                <ion-item
                   color="darkpaper"
                  class="app-font-16"
                  routerLink="/preachercurl"
                  (click)="presentLoading()"
                >
                  <strong>Preacher-Bench Curl</strong>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/preachercurl/preachercurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-item
                  routerLink="/ppreachercurl"
                   color="darkpaper"
                  expand="block"
                  class="app-font-16"
                  (click)="presentLoading()"
                  class="text-capitalize"
                >
                  <strong>Preacher-Bench Curl Pyramid</strong>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item  color="tertiary" routerLink="/ppreachercurl/ppreachercurlhist"
                  >Progress</ion-item
                >
              </ion-col>
            </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
